html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background: #eee;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header-img {
    max-width: 290px;
}

nav{
    margin: 1.9em 3.0em;

}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 9em;
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 1em;
}

.form-header {
    font-size: large;
    font-family: sans-serif;
}

.email-input {
    width: 15em;
    margin-bottom: 0.7em;
}

.submit-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    width: 7em;
    padding: 0.5em;
    font-weight: bold;
    font-size: small;
    color: black ;
    background-color: #F1C40F;
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}





.service {
    text-align: center;
    
}

.service-1 {
    display: flex;
}
#icon {
    max-width: 3.0em;
}