html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background: #eee;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}


#header-img {
    max-width: 290px;
}

nav{
    margin: 0.9em 1.0em;

}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 6em;
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 1em;
}

.form-header {
    font-size: large;
    font-family: sans-serif;
}

.email-input {
    width: 15em;
    margin-bottom: 0.7em;
}

.submit-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    width: 7em;
    padding: 0.5em;
    font-weight: bold;
    font-size: small;
    color: black ;
    background-color: #F1C40F;
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}


.service-cont{
margin-left: 15em;
margin-top: 9em;
}


.services-1, .services-2, .services-3 {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  
  .icon {
    margin-right: 70px;
  }
  
  .icon i {
    font-size: 40px;
    color: #ff8c00;
  }

  .icon-fire i{
    font-size: 50px;
    color: #ff8c00;
    margin-right: 0.2em;
  }
  
  .content {
    flex: 1;
  }
  
  .content-h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
  }
  
  .content-p {
    font-size: 16px;
    margin: 0;
    font-family: sans-serif;
    max-width: 45em;
  }
  
  #video {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#video > iframe {
    max-width: 560px;
    width: 100%;
  }

